.box1 {
  width: 100px;
  height: 100px;
  border-right: 10px solid black;
}
.box2 {
  width: 100px;
  height:100px;
  
}
.wrapper1 {
    display: flex;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: blue;
 
}
.wrapper2 {
    display: flex;
}
